<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <h1>My Receipts</h1>
      <table>
        <thead>
          <tr>
            <td>Vendor</td>
            <td>Total</td>
            <td>Tax</td>
            <td>Date</td>
            <td>Category</td>
            <td>Account</td>
          </tr>
        </thead>
        <tbody>
          {% for receipt_list in receipts_list%}
          <td>{{receipt_list.vendor}}</td>
          <td>{{receipt_list.total}}</td>
          <td>{{receipt_list.tax}}</td>
          <td>{{receipt_list.date|date:"m/d/y"}}</td>
          <td>{{receipt_list.category}}</td>
          <td>{{receipt_list.account}}</td>
          {% endfor %}
        </tbody>
      </table>
    </main>
  </body>
</html>
